## Palabras

In [8]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Imprime todas las letras en mayuscula**

In [9]:
uppercase_words = [word.upper() for word in words]
print(uppercase_words)

['PLAY', 'FILLING', 'BAR', 'THEATRE', 'EASYGOING', 'DATE', 'LEAD', 'THAT', 'STORY', 'ISLAND']

**Crea una nueva lista que contenga 5 o más letras**

In [10]:
long_words = [word for word in words if len(word) >= 5]
print(long_words)

## Otra opción sería:

# words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story', 'island']

#long_words = []
#i = 0

#while i < len(words):
#    if len(words[i]) >= 5:
#        long_words.append(words[i])
#    i += 1

#print(long_words)

['filling', 'theatre', 'easygoing', 'story', 'island']

**Imprime la primera palabra que empiece por 't'**

In [11]:
first_t_word = next((word for word in words if word.startswith('t')), None)
print(first_t_word)

## Otra opción sería:

#i = 0
#first_t_word = None

#while i < len(words):
#    if words[i].startswith('t'):
#        first_t_word = words[i]
#        break  # Detiene el bucle cuando encuentra la primera palabra con 't'
#    i += 1

#print(first_t_word)

theatre

## Numeros

**Crea una lista que contenga el cuadraro de cada numero entre 1 y 10**

In [13]:
cuadrados = [x**2 for x in range(1, 11)]
print(cuadrados)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Imprime una lista que contenga el cuadrado de cada número impar del 1 al 10**

In [14]:
cuadrados_impares = [x**2 for x in range(1, 11) if x % 2 != 0]
print(cuadrados_impares)

[1, 9, 25, 49, 81]

**Crear una lista con los cuadrados de todos los múltiplos de 8 por debajo de 1000**

In [15]:
cuadrados_x8 = [x**2 for x in range(8, 1000, 8)]
print(cuadrados_x8)

[64, 256, 576, 1024, 1600, 2304, 3136, 4096, 5184, 6400, 7744, 9216, 10816, 12544, 14400, 16384, 18496, 20736, 23104, 25600, 28224, 30976, 33856, 36864, 40000, 43264, 46656, 50176, 53824, 57600, 61504, 65536, 69696, 73984, 78400, 82944, 87616, 92416, 97344, 102400, 107584, 112896, 118336, 123904, 129600, 135424, 141376, 147456, 153664, 160000, 166464, 173056, 179776, 186624, 193600, 200704, 207936, 215296, 222784, 230400, 238144, 246016, 254016, 262144, 270400, 278784, 287296, 295936, 304704, 313600, 322624, 331776, 341056, 350464, 360000, 369664, 379456, 389376, 399424, 409600, 419904, 430336, 440896, 451584, 462400, 473344, 484416, 495616, 506944, 518400, 529984, 541696, 553536, 565504, 577600, 589824, 602176, 614656, 627264, 640000, 652864, 665856, 678976, 692224, 705600, 719104, 732736, 746496, 760384, 774400, 788544, 802816, 817216, 831744, 846400, 861184, 876096, 891136, 906304, 921600, 937024, 952576, 968256, 984064]

## People

In [16]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**Cuánta gente hay?**

In [17]:
num_people = len(people)
print(num_people)

5

**Cuanta gente tiene hijos**?

In [18]:
people_with_kids = len([person for person in people if person['n_kids'] > 0])
print(people_with_kids)

4

**Cuantos hijos tienen en total?**

In [19]:
total_kids = sum(person['n_kids'] for person in people)
print(total_kids)

10

**En un año, los nombres que terminen en "a" tendrán un niño extra. Crea una lista de diccionarios con la información de las personas en un año**

In [20]:
people_next_year = [
    {**person, "n_kids": person["n_kids"] + 1} if person["name"].endswith("a") else person
    for person in people
]

print(people_next_year)

[{'name': 'Juan', 'age': 34, 'n_kids': 2}, {'name': 'Pepe', 'age': 27, 'n_kids': 0}, {'name': 'Sonia', 'age': 41, 'n_kids': 2}, {'name': 'Lucía', 'age': 22, 'n_kids': 3}, {'name': 'Leo', 'age': 55, 'n_kids': 5}]